$pretty-color: #2196f3;
$backblack-color: #2f303a;
$backwhite-color: #e5e5e5;
$backgrey-color: #f5f4fa;
$back-hero-color: #c4c4c4;
$title-color: #212121;
$accenttext-color: #757575;
$white-color: #fff;
$border-color: #eeeeee;
$icon-color: #afb1b8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$main-font: "Roboto", sans-serif;
$-accent-font: "Raleway", sans-serif;
$cubik: cubic-bezier(0.4, 0, 0.2, 1);
